@model Identity.API.Models.AccountViewModels.LoginViewModel

<div class="brand-header-block">
    <ul class="container">
        <li><a asp-area="" asp-controller="Account" asp-action="Register"
                asp-route-returnurl="@ViewData["ReturnUrl"]">REGISTER</a></li>
        <li class="active" style="margin-right: 65px;">LOGIN</li>
    </ul>
</div>
<div class="container ">
    <div class="login-form">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <h2>Login to your account</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label form-label"></label>
                <input asp-for="Email" class="form-control form-input form-input-center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label form-label"></label>
                <input asp-for="Password" class="form-control form-input form-input-center" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" class="checkbox" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </form>
        </section>
    </div>

</div>
