<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=" Content-Security-Policy" content="script-src 'unsafe-inline'; script-src-elem 'unsafe-inline'">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | eDukkan</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/prettyPhoto.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/price-range.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.3/
                       css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prettyPhoto.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/price-range.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header col-sm-6 col-xs-8">
                        <a asp-controller="home" asp-action="ReturnToOriginalApplication" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                            <div class="navbar-brand"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
        <br /><br />
        <footer id="footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <br><div class="brand"></div>
                        </div>
                        @* <div class="col-sm-6">
                            <img class="text hidden-xs" src="~/images/main_footer_text.PNG" width="335" height="26" alt="footer text image" />
                            </div> *@
                    </div>
                </div>

            </div>

        </footer>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>