@page
@model Razor.UI.CartModel
@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <section id="cart_items">
        <div class="row">

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cartItem in Model.Cart.Items)
                        {
                              <tr id="tr_@cartItem.ProductId.ToString()">
                                <td class="cart_product">
                                    <a href=""><img src=@cartItem.SmallImageURL alt=""></a>
                                </td>
                                <td class="cart_description">

                                    <h4><a href="">@cartItem.ProductName</a></h4>
                                    @* <p>Web ID: 1089772</p> *@
                                </td>

                                <td class="cart_price">
                                    <p>$@(cartItem.Price * cartItem.Quantity)</p>
                                </td>


                                <td class="cart_quantity" id="td_@cartItem.ProductId.ToString()">
                                    <form asp-page-handler="changequantity" method="post">
                                             <input type="hidden" name="productId" value="@cartItem.ProductId.ToString()" />  
                                             <input type="hidden" name="quantity" id="hidden_@cartItem.ProductId.ToString()" />  

                                             <input  id="input_@cartItem.ProductId.ToString()" asp-for=@cartItem.Quantity id="input_@cartItem.ProductId.ToString()" 
                                         oninput="editCartRowData('@cartItem.ProductId');parentNode.submit();" type="number" value =@cartItem.Quantity />
                                    </form>
                                </td>

                                <td class="cart_total">
                                    <p class="cart_total_price">$@(cartItem.Price * cartItem.Quantity)</p>
                                </td>
                                <td class="cart_delete">
                                    <form asp-page-handler="removefromcart" method="post">
                                        <a class="cart_quantity_delete" href="javascript:;"
                                        onclick="parentNode.submit();"><i class="fa fa-times"></i></a>
                                        <input type="hidden" asp-for="@cartItem.ProductId" name="productId" />                                        
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="cart_total">
                                <p class="cart_total_price"><strong>Total</strong></p>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">$@Model.Cart.TotalPrice</p>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        @*<button class="btn btn-lg btn-block btn-danger">Continue Shopping</button>*@
                        <a asp-page="Product" class="btn btn-lg btn-block btn-success">Continue Shopping</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        @*<button class="btn btn-lg btn-block btn-danger text-uppercase">CheckOut</button>*@
                        <a asp-page="CheckOut" class="btn btn-lg btn-block btn-danger text-uppercase">CheckOut</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
<script>   
     function editCartRowData(productId) {
        let newValue = $("#input_"+productId).val();
        $("#hidden_"+productId).val(newValue);       
     }
</script>
}