@page "/{pageindex:int=1}"
@addTagHelper *,Pager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <!--slider-->
    <div class="container">
        <partial name="_BannerPartial" />
        <partial name="_LeftMenuPartial" />
    </div>
</section>
@section Scripts{
<script>
    function brandCodeClick(brandCode, currentForm) {
        $('#hiddenBrandCode').val(brandCode);
        currentForm.submit();
    }

    function categoryCodeClick(categoryCode, currentForm) {
        $('#hiddenCategoryCode').val(categoryCode);
        currentForm.submit();
    }

    $('#inputFilterPrice').slider()
        .on('slide', function (ev) {
            let min = ev.value[0];
            let max = ev.value[1];
            console.log(min, max);
    });

</script>
}
