@page "/product/{pageindex:int=1}"
@addTagHelper *,Pager
@model Razor.UI.ProductModel
@{
    ViewData["Title"] = "Product";
}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <partial name="_LeftMenuPartial"/>
</div

@section Scripts{
<script>
    function brandCodeClick(brandCode, currentForm) {
        $('#hiddenBrandCode').val(brandCode);
        currentForm.submit();
    }

    function categoryCodeClick(categoryCode, currentForm) {
        $('#hiddenCategoryCode').val(categoryCode);
        currentForm.submit();
    }

      $('#inputFilterPrice').slider()
        .on('slide', function (ev) {
            let min = ev.value[0];
            let max = ev.value[1];
            console.log(min, max);
    });

</script>
}
