.form-control {
  width: 99% !important;
}

.login-form {
  max-width: 30em;
  margin: auto;
}

.cart_product {
  display: table-cell !important;
}

.cart_delete {
  display: table-cell !important;
}
