.form-control {
  width: 99% !important;
}

.login-form {
  max-width: 30em;
  margin: auto;
}

.cart_product {
  display: table-cell !important;
}

.cart_delete {
  display: table-cell !important;
}

.btn.btn-primary {
  margin: 16px 1px 0 1px !important;
}

.btn.btn-default {
  margin: 16px 1px 0 1px !important;
}

.brand-list {
  margin-top: 1em;
  height: 200px;
  overflow: auto;
}


.category-list {
  margin-top: 1em;
  height: 200px;
  overflow: auto;
}